<br>
<div class="jumbotron text-center">
  <h1>Blocipedia</h1>
  <p>All the stuff you want to know (plus some other stuff you didn't want)</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h2>Create your own wikis!</h2>
    <p>A standard membership let's you create and edit unlimited wikis</p>
  </div>
  <div class="col-md-6 text-center">
    <h2>Go premium, get more.</h2>
    <p>Premium members can create private wikis!</p>
</div>
